* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    scroll-padding-top: 80px;
}

@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("fonts/roboto-condensed-webfont/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
    font-family: "Roboto Condensed Bold Italic";
    src: url("fonts/roboto-condensed-webfont/RobotoCondensed-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Roboto Condensed Regular";
    src: url("fonts/roboto-condensed-webfont/RobotoCondensed-Regular.woff") format("woff");
}



@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

:root {
    --dark-charcoal: #1A1A1A;
    --charcoal: #333333;
    --almost-black: #0D0D0D;
    --light-gray: #D1D1D1;
    --gold: #FFC107;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--dark-charcoal);
}

body *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-family: "Roboto Condensed Regular", sans-serif;
    font-size: large;
}

h1 {
    font-size: xxx-large;
    font-family: "Roboto Condensed Bold", serif;
    color: var(--gold);
}

h2 {
    font-size: xx-large;
    font-family: "Roboto Condensed Bold Italic", serif;
    color: var(--gold);
}

h3 {
    font-size: x-large;
    font-family: "Roboto Condensed Bold", serif;
    color: var(--gold);
}

header, footer {
    background-color: var(--almost-black);
}

p, footer {
    color: var(--light-gray);
}

hr {
    border: 2.5px solid var(--light-gray);
    border-radius: 10px;
    width: 135px;
}

/*******************************************************************************/
/* Desktop CSS */
@media screen and (min-width: 1025px) {

    .nav-bar ul {
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--charcoal);
        display: flex;
        justify-content: center;
    }
    .nav-bar ul li:first-child {
        display: none;
    }
    
    .nav-bar ul li a {
        display: block;
        color: var(--light-gray);
        text-align: center;
        font-size: larger;
        font-weight: bold;
        text-decoration: none;
        padding: 14px 26px;
        transition: background-color 0.5s ease-in-out;
    }
    
    .nav-bar ul li a:hover {
        background-color: var(--almost-black);
        color: var(--gold);
    }
    
    #title-section {
        padding-top: 75px;
        text-align: center;
        box-shadow: 0 0 10px 8px var(--almost-black);
        margin-bottom: 25px;
    }

    #title-section img {
        border-radius: 100%;
        margin: 15px;
        border: 2.5px solid var(--dark-charcoal);
        box-shadow: 0 0 10px 4px var(--light-gray);
    }

    #contact-me, #about-me, #education, #skills, #projects {
        padding: 15px;
        margin: 0% 25% 0% 25%;
    }
    
    #contact-me ul {
        list-style-type: none;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin: 15px 0 5px 0;
    }
    
    #contact-me ul li {
        padding: 15px 5px 15px 5px;
    }
    
    #contact-me ul li a {
        text-decoration: none;
    }
    
    #contact-me ul li a img {
        transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        border-radius: 50%;
        width: 75%;
        height: auto;
    }
    
    #contact-me ul li a img:hover {
        animation: pulse 1s infinite;
        box-shadow: 0 0 12.5px 2px var(--gold);
        background-color: var(--light-gray);
    }
    
    #about-me p {
        padding: 15px;
        line-height: 1.5;
        font-size: large;
    }
    
    #education h3 {
        padding: 15px;
        margin: 0;
        font-weight: bold;
        color: var(--gold);
    }
    
    #education p {
        padding-left: 25px;
        font-size: large;
        line-height: 1.5;
        margin: 5px 0; 
    }
    
    #ucsd-container, #ivc-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 20px 0px;
    }
    
    #ucsd-container a, #ivc-container a {
        border-radius: 50%;
        padding: 2px;
    }
    
    #ucsd-container a img, #ivc-container a img {
        padding: 2px;
        background-color: var(--light-gray);
        border-radius: 50%;
        transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
    
    #ucsd-container a img:hover, #ivc-container a img:hover {
        animation: pulse 1s infinite;
        background-color: var(--almost-black);
        box-shadow: 0 0 10px 3px var(--gold);
    }

    @media screen and (min-width: 1300px) {
        #skills-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            padding-top: 10px;
            justify-items: center;
            align-items: center;
        }

        #skills-container img {
            border-radius: 50%;
            width: 35%;
            height: auto;
            transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1299px) {
        #skills-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            padding-top: 10px;
            justify-items: center;
            align-items: center;
        }

        #skills-container img {
            border-radius: 50%;
            width: 45%;
            height: auto;
            transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
    }

    #skills-container img:hover {
        transform: scale(1.1);
        animation: pulse 1s ease-in-out infinite;
        filter: drop-shadow(0 0 15px var(--gold));
    }
    
    @media screen and (min-width: 2100px) {
        #projects-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            margin: 15px;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 2099px) {
        #projects-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 50px;
            margin: 15px;
        }
    }
    
    #projects-container div h3{
        padding: 15px;
        color: var(--gold);
        font-weight: bold;
    }
    
    #cpu-isa, #nachos-os, #multi-platform-post-scheduler, #graphics-shadow-mapping, #professional-site {
        background-color: var(--almost-black);
        border: 2.5px solid var(--light-gray);
        border-radius: 15px;
        margin: 10px;
        padding: 2px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: box-shadow 0.5s ease-in-out, transform 0.3s ease-in-out;
    }

    #cpu-isa:hover, #nachos-os:hover, #multi-platform-post-scheduler:hover, #graphics-shadow-mapping:hover, #professional-site:hover {
        box-shadow: 0 0 15px 2px var(--light-gray);
        transform: scale(1.03);
    }
    
    #cpu-isa p, #nachos-os p, #multi-platform-post-scheduler p, #graphics-shadow-mapping p, #professional-site p {
        padding: 5px;
        margin: 0 50px 0 50px;
        color: var(--light-gray);
        font-size: large;
        line-height: 1.5;
    }

    #cpu-isa a, #nachos-os a, #multi-platform-post-scheduler a, #graphics-shadow-mapping a, #professional-site a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        width: 100%;
    }

    #cpu-isa img, #nachos-os img, #multi-platform-post-scheduler img, #graphics-shadow-mapping img, #professional-site img {
        max-width: 75%;
        max-height: 75%;
        margin-top: 10px;
        height: auto;
        background-color: var(--light-gray);
        border-radius: 100%;
        display: block;
        transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    #cpu-isa img:hover, #nachos-os img:hover, #multi-platform-post-scheduler img:hover, #graphics-shadow-mapping img:hover, #professional-site img:hover {
        transform: scale(1.1);
        animation: pulse 1s ease-in-out infinite;
        background-color: var(--gold);
        box-shadow: 0 0 12.5px 2px var(--light-gray);
    }
    
    footer {
        padding: 15px;
        font-size: large;
        font-weight: bold;
        text-align: center;
        border-top: 2px solid var(--gold);
    }
}

/*******************************************************************************/
/* Tablet CSS*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .nav-bar ul {
        background-color: var(--charcoal);
        padding: 5px 0 15px 0;
        position: fixed;
        width: 100%;
    }

    .nav-content {
        display: none;
    }

    .show { 
        display: block;
    }

    .nav-bar ul li a {
        display: block;
        color: var(--light-gray);
        padding: 15px 0 15px 15px;
        text-decoration: none;
        font-size: large;
        font-weight: bold;
        transition: background-color 0.2s ease-in-out;
        border-top: 2px solid var(--light-gray);
    }

    .nav-bar ul li a:hover, .nav-bar ul li a:active {
        background-color: var(--almost-black);
        color: var(--gold);
    }

    .nav-bar ul li div {
        margin: 5px;
        padding: 0;
        max-width: fit-content;
    }

    #hamburger-menu {
        margin: 20px 0 5px 0;
        touch-action: manipulation; /* Prevents double-tap zoom */
        cursor: pointer;
        user-select: none; /* Avoids accidental text selection */
        width: 50px;
        height: 5px;
        display: flex;
        background-color: var(--light-gray);
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
    }

    #hamburger-menu:before, #hamburger-menu:after {
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        background-color: var(--light-gray);
        position: absolute;
    }

    #hamburger-menu:before {
        transform: translateY(-12px);
    }

    #hamburger-menu:after {
        transform: translateY(12px);
    }
    
    #hamburger-menu:active, #hamburger-menu:active:before, #hamburger-menu:active:after {
        background-color: var(--charcoal);
    }

    #hamburger-menu.hamburger-x {
        background-color: transparent;
        padding-bottom: 20px;
    }

    #hamburger-menu.hamburger-x:before {
        background-color: red;
        transform: rotate(45deg); /* Rotate the top bar */
    }

    #hamburger-menu.hamburger-x:after {
        background-color: red;
        transform: rotate(-45deg); /* Rotate the bottom bar */
    }

    #hamburger-menu.hamburger-x:active:before, #hamburger-menu.hamburger-x:active:after {
        background-color: var(--almost-black);
    }

    #title-section {
        padding-top: 80px;
        text-align: center;
        box-shadow: 0 0 10px 8px var(--almost-black);
    }
    
    #title-section img {
        width: 25%;
        height: auto;
        margin: 15px;
        border-radius: 50%;
        border: 2.5px solid var(--charcoal);
        box-shadow: 0 0 10px 4px var(--light-gray);
    }

    #contact-me, #about-me, #education, #skills, #projects {
        padding: 15px;
        margin: 0% 10% 0% 10%;
    }

    #contact-me ul {
        list-style-type: none;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin: 5px 0 5px 0;
    }
    
    #contact-me ul li {
        padding: 15px 5px 15px 5px;
    }
    
    #contact-me ul li a {
        text-decoration: none;
    }
    
    #contact-me ul li a img {
        transition: background-color 0.2s ease-in-out;
        width: 85%;
        height: auto;
        border-radius: 50%;
    }
    
    #contact-me ul li a img:hover, #contact-me ul li a img:active {
        box-shadow: 0 0 8px 2px var(--gold);
        background-color: var(--light-gray);
    }

    #about-me p {
        padding: 15px;
        line-height: 1.5;
        font-size: large;
    }
    
    #education h3 {
        padding: 15px;
        margin: 0;
        font-weight: bold;
        color: var(--gold);
    }
    
    #education p {
        padding-left: 25px;
        font-size: large;
        line-height: 1.5;
        margin: 5px 0;
    }
    
    #ucsd-container, #ivc-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 20px 0px;
    }

    #ucsd-container a, #ivc-container a {
        border-radius: 50%;
        padding: 2px;
    }
    
    #ucsd-container a img, #ivc-container a img {
        width: 75%;
        height: auto;
        padding: 2px;
        background-color: var(--light-gray);
        border-radius: 50%;
        transition: background-color 0.2s ease-in-out;
    }
    
    #ucsd-container a img:hover, #ivc-container a img:hover, #ucsd-container a img:active, #ivc-container a img:active {
        background-color: var(--almost-black);
        box-shadow: 0 0 10px 3px var(--gold);
    }

    #skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding-top: 10px;
        justify-items: center;
        align-items: center;
    }

    #skills-container img {
        border-radius: 50%;
        width: 25%;
        height: auto;
        /* filter: drop-shadow(0px 0px 10px var(--gold)); */
    }
    
    
    #projects-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        margin: 15px 0 15px 0;
    }
    
    #projects-container div h3{
        padding: 15px;
        color: var(--gold);
        font-weight: bold;
    }
    
    #cpu-isa, #nachos-os, #multi-platform-post-scheduler, #graphics-shadow-mapping, #professional-site {
        background-color: var(--almost-black);
        border: 2.5px solid var(--light-gray);
        border-radius: 5px;
        margin: 10px;
        padding: 2px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #cpu-isa p, #nachos-os p, #multi-platform-post-scheduler p, #graphics-shadow-mapping p, #professional-site p{
        padding: 5px;
        margin: 0 25px 0 25px;
        color: var(--light-gray);
        font-size: large;
        line-height: 1.5;
    }

    #cpu-isa a, #nachos-os a, #multi-platform-post-scheduler a, #graphics-shadow-mapping a, #professional-site a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        width: 100%;
    }

    #cpu-isa img, #nachos-os img, #multi-platform-post-scheduler img, #graphics-shadow-mapping img, #professional-site img {
        max-width: 75%;
        max-height: 75%;
        margin-top: 10px;
        height: auto;
        transition: background-color 0.2s ease-in-out;
        background-color: var(--light-gray);
        border-radius: 100%;
        display: block;
    }
    
    #cpu-isa img:hover, #nachos-os img:hover, #multi-platform-post-scheduler img:hover, #graphics-shadow-mapping img:hover, #professional-site img:hover,
    #cpu-isa img:active, #nachos-os img:active, #multi-platform-post-scheduler img:active, #graphics-shadow-mapping img:active, #professional-site img:active {
        background-color: var(--gold);
        box-shadow: 0 0 12.5px 2px var(--gold);
    }
    
    footer {
        padding: 15px;
        font-size: large;
        font-weight: bold;
        text-align: center;
        border-top: 2px solid var(--gold);
    }
}

/*******************************************************************************/

/* Mobile CSS*/
@media screen and (max-width: 599px) {
    .nav-bar ul {
        background-color: var(--charcoal);
        padding: 5px 0 15px 0;
        position: fixed;
        width: 100%;
    }

    .nav-content {
        display: none;
    }

    .show { 
        display: block;
    }

    .nav-bar ul li a {
        display: block;
        color: var(--light-gray);
        padding: 15px 0 15px 15px;
        text-decoration: none;
        font-size: large;
        font-weight: bold;
        transition: background-color 0.2s ease-in-out;
        border-top: 2px solid var(--light-gray);
    }

    .nav-bar ul li a:hover, .nav-bar ul li a:active {
        background-color: var(--almost-black);
        color: var(--gold);
    }

    .nav-bar ul li div {
        margin: 5px;
        padding: 0;
        max-width: fit-content;
    }

    #hamburger-menu {
        margin: 20px 0 5px 0;
        touch-action: manipulation; /* Prevents double-tap zoom */
        cursor: pointer;
        user-select: none; /* Avoids accidental text selection */
        width: 50px;
        height: 5px;
        display: flex;
        background-color: var(--light-gray);
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
    }

    #hamburger-menu:before, #hamburger-menu:after {
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        background-color: var(--light-gray);
        position: absolute;
    }

    #hamburger-menu:before {
        transform: translateY(-12px);
    }

    #hamburger-menu:after {
        transform: translateY(12px);
    }

    #hamburger-menu:active, #hamburger-menu:active:before, #hamburger-menu:active:after {
        background-color: var(--charcoal);
    }

    #hamburger-menu.hamburger-x {
        background-color: transparent; /* Make background transparent */
        padding-bottom: 20px;
    }

    #hamburger-menu.hamburger-x:before {
        background-color: red;
        transform: rotate(45deg); /* Rotate the top bar */
    }

    #hamburger-menu.hamburger-x:after {
        background-color: red;
        transform: rotate(-45deg); /* Rotate the bottom bar */
    }

    #hamburger-menu.hamburger-x:active:before, #hamburger-menu.hamburger-x:active:after {
        background-color: var(--almost-black);
    }

    #title-section {
        padding-top: 75px;
        text-align: center;
        box-shadow: 0 0 10px 8px var(--almost-black);
    }

    #title-section img {
        width: 35%;
        height: auto;
        margin: 15px;
        border-radius: 50%;
        border: 2.5px solid var(--charcoal);
        box-shadow: 0 0 10px 4px var(--light-gray);
    }

    #contact-me, #about-me, #education, #skills, #projects {
        padding: 15px;
        margin: 0% 5% 0% 5%;
    }

    #contact-me ul {
        list-style-type: none;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        margin: 5px 0 5px 0;
    }
    
    #contact-me ul li {
        padding: 15px 5px 15px 5px;
    }
    
    #contact-me ul li a {
        text-decoration: none;
    }
    
    #contact-me ul li a img {
        transition: background-color 0.2s ease-in-out;
        width: 75%;
        height: auto;
        border-radius: 50%;
    }
    
    #contact-me ul li a img:hover, #contact-me ul li a img:active {
        box-shadow: 0 0 5px 2px var(--gold);
        background-color: var(--light-gray);
    }

    #about-me p {
        padding: 15px;
        line-height: 1.5;
        font-size: large;
    }
    
    #education h3 {
        display: none;
    }
    
    #education p {
        display: none;
    }
    
    #ucsd-container, #ivc-container {
        display: block;
        text-align: center;
        margin: 5px;
    }

    #ucsd-container a, #ivc-container a {
        border-radius: 50%;
    }
    
    #ucsd-container a img, #ivc-container a img {
        width: 35%;
        height: auto;
        padding: 2px;
        margin: 10px 0 5px 0;
        background-color: var(--light-gray);
        border-radius: 50%;
        transition: background-color 0.2s ease-in-out;
    }
    
    #ucsd-container a img:hover, #ivc-container a img:hover, #ucsd-container a img:active, #ivc-container a img:active {
        background-color: var(--almost-black);
        box-shadow: 0 0 10px 3px var(--gold);
    }
    
    #skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding-top: 10px;
        justify-items: center;
        align-items: center;
    }

    #skills-container img {
        border-radius: 50%;
        width: 35%;
        height: auto;
        /* filter: drop-shadow(0px 0px 10px var(--gold)); */
    }
    
    #projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        gap: 5px;
        margin: 5px 5px 5px 0px;
    }
    
    #projects-container div h3{
        padding: 15px;
        color: var(--gold);
        font-weight: bold;
    }
    
    #cpu-isa, #nachos-os, #multi-platform-post-scheduler, #graphics-shadow-mapping, #professional-site {
        background-color: var(--almost-black);
        border: 2.5px solid var(--light-gray);
        border-radius: 5px;
        margin: 10px;
        padding: 2px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #cpu-isa p, #nachos-os p, #multi-platform-post-scheduler p, #graphics-shadow-mapping p, #professional-site p{
        display: none;
    }

    #cpu-isa a, #nachos-os a, #multi-platform-post-scheduler a, #graphics-shadow-mapping a, #professional-site a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        width: 100%;
        height: auto;
        padding-bottom: 5px;
    }

    #cpu-isa img, #nachos-os img, #multi-platform-post-scheduler img, #graphics-shadow-mapping img, #professional-site img {
        width: 25%;
        height: auto;
        margin-top: 10px;
        transition: background-color 0.2s ease-in-out;
        background-color: var(--light-gray);
        border-radius: 100%;
        display: block;
    }

    #cpu-isa img:hover, #nachos-os img:hover, #multi-platform-post-scheduler img:hover, #graphics-shadow-mapping img:hover, #professional-site img:hover,
    #cpu-isa img:active, #nachos-os img:active, #multi-platform-post-scheduler img:active, #graphics-shadow-mapping img:active, #professional-site img:active {
        background-color: var(--gold);
        box-shadow: 0 0 12.5px 2px var(--gold);
    }
    
    footer {
        padding: 15px;
        font-size: large;
        font-weight: bold;
        text-align: center;
        border-top: 2px solid var(--gold);
    }
}